.recommended-flex{
    display: flex;
    margin-left: 20rem;
    margin-top: 2rem;
}

.btns{
    padding: 10px;
    margin-right: 6px;
    background: transparent;
    border: none;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
  }

  .recommended-title{
    margin-left: 320px;
  }